<% include ./partials/_head %>
<body>
<% include ./partials/_header %>
    <!-- Add your EJS code here -->
    <main>
    <h1>Your URL</h1>

    <% if (fullURL === undefined) { %>
      <p>&quot;<%= shortURL %>&quot; is not a valid URL.</p>
    <% } else { %>
      <p><strong>tiny.app/<%= shortURL %></strong> - <a href="<%= fullURL %>"> <%= fullURL %></a> <p>
    <% } %>

    <form action="/urls/<%= shortURL %>" method="POST">

      <label>Enter an updated URL:
        <input id="longURL" type="text" name="longURL" value="<%= fullURL %>" style="width: 300px">
      </label>

      <input type="submit" value="Submit">

    </form>
    </main>
</body>
</html>

