<% include ./partials/_head %>
<body>
  <% include ./partials/_header %>
    <!-- Add your EJS code here -->
    <main>
    <h1>Your URLS</h1>
      <ul>
        <% Object.keys(urls).forEach(function(key) { %>
          <li>
            tiny.app/<%=key%>
            -
            <a href="<%=urls[key]%>">
              <%= urls[key] %>
            </a>

              <form method="POST" action="/urls/<%= key %>/delete">
                <input id="shortURL" type="submit" value="Delete">
              </form>

              <form method="GET" action="/urls/<%= key %>">
                <input id="shortURL" type="submit" value="Edit">
              </form>

          </li>
        <% }); %>
      </ul>
    </main>
</body>
</html>









