<% include ./partials/_head %>
<body>
<% include ./partials/_header %>
    <!-- Add your EJS code here -->
    <h1>Your URL</h1>

    <% if (fullURL === undefined) { %>
      <p>&quot;<%= shortURL %>&quot; is not a valid URL.</p>
    <% } else { %>
      <p><strong>tiny.app/<%= shortURL %></strong> - <a href="<%= fullURL %>"> <%= fullURL %></a> <p>
    <% } %>

    <form action="/urls/<%= shortURL %>" method="POST">

      <label>Enter an updated URL:
        <input id="updatedURL" type="text" name="updatedURL" value="<%= fullURL %>" style="width: 300px">
      </label>

      <input type="submit" value="Submit">

    </form>
    <br>
  <a href="/urls"><button>Back to URLs list</button></a>

</body>
</html>

